/.gradle
/.idea
/gradle
/Topics
/Indigo Card Game/Card deck symbols
/Indigo Card Game/Player VS Computer
/Indigo Card Game/The game is started
/Indigo Card Game/The game logic
/Indigo Card Game/Virtual card deck
/Indigo Card Game/task/build
/Indigo Card Game/task/out
